body {
  margin: 2% 10%;
}


.table_100px_width {
  width: 100px;
}

.table_300px_width {
  width: 300px;
}

.table_500px_width {
  width: 50%;
}

.button_right_margin { margin-right: 20px; }
.button_left_margin { margin-left: 20px; }
.button_bottom_margin { margin-bottom: 20px;}

.movie_poster {
  float:left;
  width: 15%;
  padding-right:50px;
}

.rotten_tomates {
  margin-left: 20px;
  margin-top:10px;
  height: 100px;
}

.right_side {
  width: 260px;
  float: right;
  padding: 20px;
}

.td_spacing {
  padding: 10px 10px;
}
