
<!--     <% @actors.each do |actor| %>
    <%= actor %>
    <% end %>
    <br> -->


    <ul>
      <% @actors.each do |actor| %>
        <li>
          <a href="/actors/<%= actor["id"] %>">
            <%= actor["name"] %>
          </a>
        </li>
      <% end %>
    </ul>

  </body>

</html>
